/* @font-face {
    font-family: "Caveat";
    src: url("../fonts/Caveat-VariableFont_wght.ttf");
}

.caveatFont {
    font-family: "Caveat", "cursive";
} */

body {
    font-family: 'Ubuntu' ,sans-serif;
    color: #242424;
    background-color: #eeeeee;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

/* Title Section */

#navName {
    position: absolute;
    left: calc(50% - 40px);
    top: 8px;
}

.nav-item {
    padding-left: 0.34rem;
    padding-right: 0.34rem;
}

#title {
    background-color: #91caf0;
    height: 92vh;
    border-radius: 0 0 30px 30px;
}

#titles-div {
    padding: 28vh 8% 0;
    text-align: center;
}

#nameDisplay {
    /* color: rgb(41, 41, 41); */
}

#subtitle {
    font-family: 'Ubuntu' ,sans-serif;
}

/* Projects Section */

#projects {
    background-color: #eeeeee;
}

#projects-titles {
    text-align: center;
    padding: 4rem 0 0;
}

#projects-container {
    padding: 1.2rem 0 5.5rem;
}

#projects-carousel-indicator {
    position: absolute;
    bottom: -50px;
}

.projects-grid-col {
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
}

.projects-carousel-item {
    padding: 0 12% 0;
}

.card {
    border-radius: 10px;
}

/* Education Section */

#education {
    background-color: #bbdefb;
    padding: 4rem 0 2.3rem;
    border-radius: 30px;
}

#education-titles {
    padding-bottom: 2.2rem;
    text-align: center;
}

#education-content {
    text-align: left;
    width: 80vw;
    margin: auto;
    border-radius: 10px;
}

.education-date-col {
    width: 12rem;
}

.education-row {
    margin-bottom: 1.7rem;
}

.education-p {
    color: #5f5f5f;
}

/* Skills Section */

#skills {
    padding: 4rem 0 2rem;
}

#skills-titles {
    padding-bottom: 2.2rem;
    text-align: center;
}

/* Contact Section */

#contact {
    background-color: #90caf9;
    padding: 4rem 0 2rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#contact-titles {
    padding-bottom: 2.2rem;
    text-align: center;
}

/* Footer */

#footer {
    text-align: center;
    background-color: #90caf9;
}

#footer-div {
    padding: 3.5rem 5rem 3.5rem;
}

#footer-text {
    margin: 0;
}

.footer-button {
    background: none;
    border: none;
    padding: 0 1rem 3rem;
}

.footer-button:hover {
    opacity: 60%;
}