@font-face {
    font-family: "Caveat";
    src: url("../fonts/Caveat-VariableFont_wght.ttf");
}

#navName {
    position: absolute;
    left: calc(50% - 40px);
    top: 8px;
}

.bg-blue {
    background-color: #DEEDF0;
}

.caveatFont {
    font-family: "Caveat", "cursive";
}

#nameDisplay {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: auto;
    font-size: 60px;
}